# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Build output
frontend/dist/
coverage/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Local Docker overrides
docker-compose.override.yml

#Readme files
README-Main.md
